
/* 导航栏 start */
.nav-bar {
    backgournd-color: white;
    position: relative;
    text-align: center;
    height: 63px;
    line-height: 63px;
    width: 100vw;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

/* 左箭头 start */
.arrow-left {
    top: 22px;
    left: 15px;
    position: absolute;
}

.arrow-left:before, .arrow-left:after {
    position: absolute;
    content: '';
    border-top: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-bottom: 10px transparent dashed;
    border-right: 10px #fff solid;
}

.arrow-left:before {
    border-right: 10px #000 solid;
}

.arrow-left:after {
    left: 1px; /*覆盖并错开1px*/
    border-right: 10px #fff solid;
}

/* 左箭头 end */
.nav-bar-title {
    vertical-align: middle;
    display: inline-block;
    font-size: 17px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

/* 导航栏 end */
