<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common/layout :: htmlhead" th:with="title='管理'"></head>

<body class="layui-body" style="margin: 1%;position:inherit">


<form class="layui-form" action="">
    <button class="layui-btn layui-btn-normal" lay-filter="exportExcel">导出</button>

    <table id="dataList" lay-filter="dataTable"></table>

    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</form>

</body>

<script th:src="@{/sys/user/user.js}"></script>

</html>
