<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>景区列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>-->

    <link rel="stylesheet" th:href="@{/static/wechat/css/weui.min.css}">
    <link rel="stylesheet" th:href="@{/static/wechat/css/jquery-weui.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/wxpage/list.css}">

</head>
<body>

<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" onkeydown="if(event.keyCode==13) return false;">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                   required="">
            <a href="javascript:clear()" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>请输入你想要查看的关键字</span>
        </label>
    </form>
    <a href="javascript:cancel()" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
</div>
<div class="sence">
    <div class="pillar"></div>
    <div class="font">附近景区</div>
</div>

<div class="big">
</div>


<div id="">
</div>


</body>

<script th:inline="javascript">
    //全局项目路径,不需要重新定义
    var contextPath = [[${#request.getContextPath()}]];
</script>
<!-- 微信h5支付 -->
<script th:src="@{/static/wechat/js/jweixin-1.0.0.js}"></script>

<!-- body 最后 -->
<script th:src="@{/static/wechat/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/static/wechat/js/jquery-weui.min.js}"></script>

<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script th:src="@{/static/wechat/js/swiper.min.js}"></script>
<script th:src="@{/static/wechat/js/city-picker.min.js}"></script>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container',
        {
            speed: 2000,//播放速度
            autoHeight: true,
            loop: true,//是否循环播放
            setWrapperSize: true,
            autoplay:
                {
                    delay: 10000,
                    disableOnInteraction: false
                },
            pagination: '.swiper-pagination',//分页
            effect: 'slide'//动画效果
        }
    );
</script>
<script th:src="@{/static/js/wxpage/list.js}"></script>

</html>